.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    flex: 1;
  }
  
  .form-control label {
    font-weight: bold;
    margin-bottom: 1px;
    
  }
  #anim{
    width: 150px;
    height: 100px;
  }
  .form-control  {
    padding: 0.5rem;
    font: inherit;
    border-radius: 4px;
  }
  .form-control input, .inner-form-control {
    padding: 0.5rem;
    font: inherit;
    border: 5px solid #000000;
    border-radius: 4px;
  }
  
  .form-actions {
    display: flex;
    align-items: center;
  }
  
  .form-actions button {
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border: 1px solid #2d36b1;
    background-color: #2d36b1;
    color: white;
    border-radius: 4px;
    margin-left: 1rem;
  }
  
  .form-actions button:hover,
  .form-actions button:active {
    background-color: #2d36b1;
    border-color: #2d36b1;
  }
  
  .form-inline {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
  }
  